/*
background-color: #f76c6c;
background-color: #a8d0e6;
background-color: #374785;
background-color: #24305e;
*/
:root {
  --main-white: #fffafa;
  --main-yellow: #f8e9a1;
  --main-coral: #f76c6c;
  --main-ltblue: #a8d0e6;
  --main-blue: #374785;
  --main-dkblue: #24305e;
}

a:link {
  text-decoration: none;
  color: var(--main-white);
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: var(--main-white);
}
main {
  color: var(--main-white);
  background-color: var(--main-ltblue);
}

#navbar {
  color: var(--main-white);
  background-color: var(--main-coral);
}

#navbar ul {
  list-style-type: none;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  padding: 2em 2em 2em 2em;
}

h1 {
  text-align: center;
}
#projects {
  display: grid;
  grid-template-areas:
    "header header"
    "content content content"
    "footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-images{
  width: 250px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
